* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 10px dashed rgba(255, 0, 0, 0.5);
  background-image: url("https://picsum.photos/id/237/200/300");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  background-origin: border-box;
}
