*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

input {
  font-family: inherit;
}

.contact-form {
  width: 600px;
  min-height: 200px;
  outline: 1px solid #000;
  padding: 20px;
  margin: 0 auto;
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
}

.contact-form__input:focus {
  outline: none;
}

.contact-form__input:not(:last-child) {
  margin-bottom: 20px;
}

.contact-form__input:required:focus:valid:not(:placeholder-shown) {
  border: 1px solid green;
}

.contact-form__input:required:focus:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.contact-form__submit,
.contact-form__clear {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
}

.contact-form__group-title {
  margin-bottom: 20px;
}

.contact-form__group:not(:last-child) {
  margin-bottom: 20px;
}

.contact-form__message {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
}
