*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery-item {
  width: 370px;
  margin: 15px;
}

/* 3n
  3 * 0 = 0;
  3 * 1 = 3;
  3 * 2  = 6;
  3 * 3 = 9;
*/

/* .gallery-item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

/* -n + 3
  -0 + 3 = 3;
  -1 + 3 = 2;
  -2 + 3 = 1;
  -3 + 3 = 0;
*/

/* .gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
