:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-light-theme-color: #303030;
  --title-dark-theme-color: ;
  --subtitle-light-theme-color: #303030;
  --subtitle-dark-theme-color: rgba(157, 164, 189, 0.6);
  --description-light-theme-color: #555555;
  --description-dark-theme-color: #9da4bd;
  --accent-color: #ff6c00;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/*  ============ COMPONENTS  ============ */
.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px;
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.social-links {
  display: flex;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle-dark-theme {
  color: var(--subtitle-dark-theme-color);
}

.subtitle-light-theme {
  color: var(--subtitle-light-theme-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.description-dark-theme {
  color: var(--description-dark-theme-color);
}

.description-light-theme {
  color: var(--description-light-theme-color);
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

.title-dark-theme {
  color: var(--title-dark-theme-color);
}

.title-light-theme {
  color: var(--title-light-theme-color);
}
/*  ============ END COMPONENTS  ============ */

/*  ============ HEADER  ============ */
.header {
  padding: 32px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
  margin-right: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.logo {
  margin-right: 70px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list-link,
.header-tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

/*  ============ END HEADER  ============ */

/*  ============ HERO  ============ */
.hero .container {
  display: flex;
}

.hero .description {
  max-width: 400px;
}

.hero-left-side {
  width: 100px;
}

.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 206px;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

/*  ============ END HERO  ============ */

/* ============ ABOUT  ============*/
.about .container {
  display: flex;
}

.about .title {
  margin-bottom: 20px;
}

.about .description {
  margin-bottom: 20px;
}

.about-list {
  display: flex;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-right-side {
  padding-left: 64px;
  padding-right: 116px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: var(--description-light-theme-color);
  margin-bottom: 40px;
}

/* ============ END ABOUT  ============*/

/* ============ SERVICES  ============*/
.services .title {
  margin-bottom: 44px;
}

.services .modal-btn {
  display: block;
  margin: 0 auto;
}

.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.services-list {
  width: 50%;
  padding: 30px 40px;
  border: 1px solid #000;
}

.services-list-item {
  display: flex;
  justify-content: space-between;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ============ END SERVICES  ============*/

/* ============ ACHIEVMENTS  ============*/
.achievements .container {
  display: flex;
}

.achievements .title {
  margin-bottom: 20px;
}

.achievements-left-side {
  padding-left: 100px;
}

.achievements-right-side {
  padding-left: 130px;
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.achievements-list-item {
  width: 170px;
  height: 133px;
  background: #f7f7f7;
  padding: 20px 21px;
  /* border: 1px solid #000; */
}

.achievements-list-item:not(:nth-child(even)) {
  margin-right: 30px;
}

.achievements-list-item:nth-child(even) {
  margin-top: 30px;
}

/* .achievements-list-item + .achievements-list-item {
  margin-top: 30px;
} */

.achievements-list-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.achievements-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: #303030;
}
/* ============ END ACHIEVMENTS  ============*/

/* ============  MASTERS  ============*/
.masters .title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  justify-content: space-between;
}

.masters-list-content {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}

.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
  margin-bottom: 8px;
}

.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ============ END MASTERS  ============*/

/* ============  GALLERY  ============*/
.gallery .subtitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}
/* ============  END GALLERY  ============*/

/* ============  CONTACT  ============*/
.contact-list-link,
.contact-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ============  END CONTACT  ============*/

/* ============  FOOTER  ============*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
/* ============  END FOOTER  ============*/
