.achievements {
  &-left-side {
    padding-left: 100px;
  }

  &-right-side {
    padding-left: 130px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
  }

  &-list-item {
    width: 170px;
    height: 133px;
    background: #f7f7f7;
    padding: 20px 21px;

    &:not(:nth-child(even)) {
      margin-right: 30px;
    }

    &:nth-child(even) {
      margin-top: 30px;
    }
  }

  &-list-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
  }

  &-list-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-align: center;
    color: #303030;
  }
}
