.contact-form-section {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 560px;

  &-input,
  &-message {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9da4bd;

    &::placeholder {
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid #fff;

      &::placeholder {
        color: #fff;
      }
    }
  }

  &-input {
    width: 270px;
    height: 24px;
    margin-bottom: 44px;

    &:required:focus:invalid {
      border-bottom: 1px solid tomato;
    }

    &:required:focus:valid {
      border-bottom: 1px solid teal;
    }

    &:required:focus:invalid::placeholder {
      color: tomato;
    }
  }

  &-message {
    width: 100%;
    height: 76px;
    resize: none;
    margin-bottom: 44px;
  }

  &-btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px;
    min-width: 160px;
    height: 40px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms linear;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: #fff;
    }
  }
}
