.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;

  .address {
    margin-left: auto;
    margin-right: 40px;
  }

  &__logo {
    margin-right: 70px;
  }
}

.logo {
  animation-duration: 1000ms;
  animation-iteration-count: 4;
}

.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 40px;
    }

    &-link {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.333;
      letter-spacing: 0.1em;
      color: #fff;
      transition: color 250ms linear;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}

.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #fff;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
