.hero {
  &-title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: #fff;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 208px;
    padding-bottom: 182px;

    &-left-side {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    &-left-side {
      width: 120px;
      display: flex;
      align-items: flex-end;
      padding-left: 36px;
      padding-bottom: 40px;
    }

    &-right-side {
      flex-grow: 1;
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/bg-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 272px;
      padding-bottom: 244px;
      padding-left: 120px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    &-right-side {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/bg-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    &-left-side {
      width: 100px;
      padding-left: 26px;
      padding-bottom: 40px;
    }

    &-right-side {
      padding-left: 100px;
      padding-bottom: 206px;
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/bg-desktop.jpg");
    }

    &-title {
      font-size: 72px;
      line-height: 1.181;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    &-right-side {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/bg-desktop@2x.jpg");
    }
  }
}
