.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
  
  .description-dark-theme {
    color: $description-dark-theme-color;
  }
  
  .description-light-theme {
    color: $description-light-theme-color;
  }