.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms linear;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 500ms linear 500ms;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #fff;
  transition: all 500ms linear 500ms;
  padding: 40px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    transition: all 500ms linear 0ms;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;

  &-field {
    margin-bottom: 40px;
  }

  &-field-wrapper {
    display: block;
    position: relative;
    margin-top: 10px;
  }

  &-input:focus,
  &-message:focus {
    outline: none;
    border: 1px solid blue;
  }

  &-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  }

  &-message {
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-bottom: 40px;
  }

  &-svg-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    .modal-form-input:focus + & {
      fill: blue;
    }
  }

  &-policy-label::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    outline: 1px solid #000;
    margin-right: 8px;

    &:hover {
      outline: 1px solid blue;
    }

    .modal-form-policy:checked + & {
      border: 4px solid #fff;
      background-color: $accent-color;
    }
  }

  &-btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px;
    min-width: 160px;
    height: 40px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms linear;
    align-self: flex-start;
    color: #555555;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: #fff;
    }
  }
}
