*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}