
    $main-font: "Open Sans", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-light-theme-color: #303030;
    $title-dark-theme-color: #ffffff;
    $subtitle-light-theme-color: #303030;
    $subtitle-dark-theme-color: rgba(157, 164, 189, 0.6);
    $description-light-theme-color: #555555;
    $description-dark-theme-color: #9da4bd;
    $accent-color: #ff6c00;
  